_yardoc
.bundle
.config
.DS_Store
.idea/
.ruby-version
.rvmrc
.yardoc
*.gem
*.rbc
coverage
coverage/
doc/
Gemfile.lock
InstalledFiles
lib/bundler/man
pdf/
pkg
projectFilesBackup/
rdoc
spec/reports
spec/rspec-failed-tests-control-file.txt
target/
test/tmp
test/version_tmp
tmp
