*.gem
*.rbc
.DS_Store
.bundle
.config
coverage/
.idea/
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
projectFilesBackup/
rdoc
spec/reports
spec/rspec-failed-tests-control-file.txt
target/
test/tmp
test/version_tmp
tmp
pdf/
